#task {
  margin: auto;
  width: 100%;
  max-width: 700px;
}
#root {
  margin: auto;
  width: 100%;
  max-width: 500px;
  padding: 25px 10px;
}
#root button {
  margin: 2px 3px;
}
#root input {
  margin: 2px 3px;
}
#info {
  margin: auto;
  width: 100%;
  max-width: 320px;
}
#result {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  word-wrap: break-word;
}
h1, h3 {
  text-align: center;
  padding: 10px 0px;
}
.label {
  text-align: center;
  padding: 15px 0px 5px 0px;
}